$backgroundColor: #ffffff;
$bodyColor: #000000;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: "Calibri", sans-serif;
  padding-left: 15%;
  padding-right: 15%;
}

h1, h2, h3 {
  text-align: center;
}

h2 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

p {
  text-align: justify;
}